streamlit~=1.18.1
shapash~=2.2.2
shap~=0.41.0
catboost~=1.1.1
optuna~=3.1.0
category-encoders~=2.5.1.post0
scikit-plot~=0.3.7
imblearn~=0.0
joblib~=1.2.0
pandas~=1.4.4
jupyter~=1.0.0
pip~=22.2.2
cryptography>=39.0.1
pillow>=9.3.0
scikit-learn~=1.0.2
seaborn
numpy~=1.19.3